/* Adicionar aqui toda a estilização criada para sua aplicação. */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family:Arial, Helvetica, sans-serif;
}

:root {
    --verde: #008973 ;
    --azul: #00bcd4;
    --branco: #ffffff;
    --azul_marinho: #00446d;
}

/*HEADER*/
.header {
    background-color: var(--verde);
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 120px;
    height: 100px;
}

.logo {
    display: flex;
    align-items: center;
    width: 500px;
}

.titulo {
    color: var(--branco);
}

.navbar {
    display: flex;
    justify-content: space-between;
    color: var(--branco);
    list-style: none;
    width: 300px;
}

.navbar a {
    color: var(--branco);
    text-decoration: none;
    font-size: 18px;
}

.agora {
    font-weight: bold;
}

.alerta_erro{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
}

.card_erro {
  display: none;
  background-color: #fff;
  color: black;
  position: fixed;
  width: 230px;
  border-radius: 4px;
  border: #ED145B 3px solid;
  padding: 10px;
  margin-right: 5%;
}

.card_erro #mensagem_erro{
  font-weight: 500;
  font-size: 20px;
}

.loading-div {
  width: 50px;
  display: none;
}

.loading-div img {
  height: 50px;
  width: 50px;
}

.login {
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 100%;
    background-color:var(--azul_marinho);
    background-size: cover;
    justify-content: center;
    align-items: center;
}

.card-card-login {
    padding: 10px 10px;
    height: 320px;
    width: 520px;
    margin: 0;
    color: var(--branco);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--verde);
    border-radius: 10px;
}

.card-card-login h2 {
    font-size: 24px;
}

.card-card-cadastro{
    padding: 10px 10px;
    height: 100%;
    width: 650px;
    margin: 0;
    color: var(--branco);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--verde);
    border-radius: 10px;
}

.formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.campo {
    margin-bottom: 5px;
}

.botao {
    width: 120px;
    height: 25px;
    background-color:var(--branco);
    font-weight: bold;
    color: var(--azul_marinho);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 2px 2px 4px rgba(0, 0, 0.3);
    margin-top: 10px;
}

input {
    width: 400px;
    height: 30px;
    border: 2px solid #00bcd4;
    border-radius: 5px;
    padding-left: 10px;
    outline: none;
    font-size: 14px;
    text-align: left;
}

/*FOOTER*/

.footer {
    height: 120px;
    width: 100%;
    background-color: var(--verde);
}

.footer .container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--branco);
}

.footer h4 {
    margin-bottom: 0;
}